body {
    background: #5656c0;
    font: normal 15pt Arial;
} 
header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 50%;
    margin: auto;
    box-shadow: 5px 5px 20px #000000;
}
div {

}
footer {
    color: white;
    text-align: center  ;
    font-style: italic;

}